<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header('分类列表')"></head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="menu-form">
					<div class="select-list">
						<ul>
							<li>类目名称：<input type="text" name="catName" />
							</li>
							<li>类目状态：<select name="visible" >
									<option value="">所有</option>
									<option value="1">显示</option>
									<option value="0">隐藏</option>
							</select>
							</li>
							<li>类目状态：<select name="parent" >
									<option value="">所有</option>
									<option value="1">目录</option>
									<option value="0">类目</option>
							</select>
							</li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add(0)"
					shiro:hasPermission="cms:cat:add"> <i class="fa fa-plus"></i>
					新增
				</a> <a class="btn btn-primary" onclick="$.operate.edit()"
					shiro:hasPermission="cms:cat:edit"> <i class="fa fa-edit"></i>
					修改
				</a> <a class="btn btn-info" id="expandAllBtn"> <i
					class="fa fa-exchange"></i> 展开/折叠
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-tree-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var addFlag = [[${@permission.hasPermi('cms:cat:add')}]];
		var editFlag = [[${@permission.hasPermi('cms:cat:edit')}]];
		var removeFlag = [[${@permission.hasPermi('cms:cat:remove')}]];	
		var detailFlag  = [[${@permission.hasPermi('cms:cat:detail')}]];
		var datas = [[${@dict.getType('sys_show_hide')}]];
		var prefix = ctx + "cms/cat";
		
		$(function() {			
		    var options = {
		        code: "catId",
		        parentCode: 'parentId',
		        uniqueId: "catId",
		        expandAll: false,
		        expandFirst: true,
		        url: prefix + "/list",
		        detailUrl: prefix + "/detail/{id}",
		        createUrl: prefix + "/add/{id}",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove/{id}",
		        modalName: "内容类目",
		        columns: [{
                    field: 'selectItem', 
                    radio: true
                 },
                 {
		            title: '类目名称',
		            field: 'catName',
		            width: '20%',
		            formatter: function(value, row, index) {
		                if ($.common.isEmpty(row.catIcon)) {
		                    return row.catName;
		                } else {
		                    return '<i class="' + row.catIcon + '"></i> <span class="nav-label">' + row.catName + '</span>';
		                }
		            }
		        },
		        {
		            field: 'catUrl',
		            title: '类目路径',
		            width: '15%',
		            align: "left"
		        },
		        {
		            field: 'orderNo',
		            title: '排序',
		            width: '10%',
		            align: "left"
		        },
		        {
		            field: 'visible',
		            title: '是否显示',
		            width: '10%',
		            align: "left",
		            formatter: function(value, row, index) {
		            	return row.visible?'<span class="label label-danger">显示</span>':'<span class="label label-inverse">隐藏</span>';
		            }
		        },
		        {
		            
		            title: '详情',
		            width: '10%',
		            align: "left",
		            formatter: function(value, row, index) {            	
		                return '<a class="btn btn-warning btn-xs ' + detailFlag + '" href="#" onclick="$.operate.detail(\'' + row.catId + '\')"><i class="fa fa-search"></i>详细</a> ';
		            }
		        },
		        {
		            title: '操作',
		            width: '20%',
		            align: "left",
		            formatter: function(value, row, index) {
		                var actions = [];	               
		                actions.push('<a class="' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.catId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.catId + '\')"><i class="fa fa-trash"></i>删除</a>');
		                return $.table.dropdownToggle(actions.join(''));
		            }
		        }]
		    };
		    $.treeTable.init(options);
		});
	</script>
</body>
</html>